/* Imported Google Font - Quicksand, link for google fonts site - https://fonts.google.com/specimen/Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Whole page changers */
*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
}

/* Navigation bar styling */

/* Unordered list styling part (selecting menue list part) */
#navBarLi{
    padding: 0;
    margin: 0;
    background-color: #474747;
    font-weight: 400;
    font-size: 18px;
}

    #navHeader{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px, 10%;
        margin-left: 12%;
    }
        
        #naviNav{
            width: 56%;
        }

            .navLinks li{
                list-style: none;
                display:inline-flex;
                padding: 0, 20px;
            }

            .navLinks li a{
                transition: all 0.3s ease 0s;
                text-decoration: none;
                color: #fff;
                padding-left: 30px;
                padding-right: 10px;
            }

            .navLinks li a:hover{
                transition: all 0.3s ease 0s;
                color: rgb(164, 241, 255);
            }

            .navLinks li a:active{
                color: blue;
            }

/* Navigation bar logo */
#navLogoArea{
    width: 120px;
    height: 57px;
    margin-top: -4%;
    background-color: rgb(0, 117, 251);
    margin-right: auto;
}
.webLogo{
  cursor: pointer;
  width: 100px;
}

/* .h1 {
  font-family: Arial, sans-serif;
  letter-spacing: 0.5rem;
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: 2px 2px #2c2c2c;
  margin-top: 5%;
}

.h1a{
  font-family: 'Times New Roman';
  color: rgb(11, 11, 12) ;  
  text-align: center;
  font-size: 40px ;
    
}

.h1b {
  font-family: 'Times New Roman';
  color: rgb(11, 11, 12) ;
	text-align: left;
  font-size: 40px ;
}

.h2{
  font-family:'Times New Roman';
  color:black;
  font-size: 25px;
	text-align: center;
	align-items: center;
}


 
.body{
    font-family:'Times New Roman';
    background-color: #181616;
    font-size: 18px;  
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}



.footerArea {
  padding-bottom: 1%;
  left: 0px;
  right: 0px;
  background-color: #474747;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1000px 0% 30px 0%;
  min-height: 10vh;
  flex-direction: column;
  flex-grow: 1;
  bottom:0; 
}

  .ftColumn {
      align-items: center;
      justify-items: center;
      width: 20%;
  }

      #c1 a:hover {
          transform: scale(115%);
          transition: 0.4s;
      }

  #c2 {
      width: 30%;
  }

      .ftColumn div {
          display: flex;
          justify-content: center;
      }

      .ftColumn header {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          font-size: 17px;
      }

      #c2 header {
          margin-bottom: -10px;
          font-size: 17px;
      }

          .ftColumn a {
              font-size: 13px;
              margin-bottom: 10px;
              text-decoration: none;
              color: #fff;
          }

      .ftColumn span{
          display: flex;
          justify-content: center;
          font-size: small;
          margin-bottom: 10px;
      }

          #ftInput {
              height: 40px;
              width: 100%;
              margin: 20px 0;
              border: none;
              outline: none;
              border-radius: 35px;
              padding: 0 0 0 45px;
              /* background: rgba(255, 255, 255, 0.3); */
          }

              ::-webkit-input-placeholder {
                  color: black;
              }

              #ft_fa_mail {
                  position: relative;
                  top: 28px;
                  left: -91%;
                  color: rgba(103, 101, 101, 0.5);
                  
              }

          #ftSubmit {
              border: none;
              outline: none;
              border-radius: 30px;
              font-size: 16px;
              height: 45px;
              width: 40%;
              background: rgba(255, 255, 255, .9);
              cursor: pointer;
              transition: 0.3s;
          }

              .ftSubmit [type="submit"] {
                  color: black;
              }

              #ftSubmit:hover {
                  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.3);
                  transform: scale(110%);
                  background-color: rgba(193, 255, 70, 0.782);
                  transition: 0.4s;
              }

      #c3 {
          flex-direction: column;
      }

      .cIn {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

          .cIn div {
              margin-bottom: 5px;
              font-size: 13px;
          }

      .icon_links {
          margin-top: 12px;
          display: flex;
          justify-content: center;
          flex-direction: row;
      }

          .addFT{
              margin: 0 0 0 0;
              padding: 5px 0 5px 0;
              width: 40%;
              display: flex;
          }

              .iconIns {
                  width: 110%;
              }

                  .fa {
                      transform: scale(135%);
                  }

              .iconIns a:hover {
                  transform: scale(150%);
                  transition: 0.3s;
              }


              
      

