/* Imported Google Font - Quicksand, link for google fonts site - https://fonts.google.com/specimen/Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Whole page changers */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-color: gray;
}

/* Navigation bar styling */

.naviBar{
    background-color: rgba(40, 58, 90, 0.9);
    height: 57px;
}

.naviBar a {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

   .naviContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
   }
   
    .naviLogo img{
        width: 75px;
        height: 57px;
    }


    .naviListMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 33vw;
        padding-right: 25px;
    }

        .naviMenuItem .material-symbols-outlined{
            scale: 130%;
            padding-top: 5px;
        }

        .naviMenuItem a:hover {
            color: rgb(67, 164, 255);
            /* font-size: 19px; */
            transition: all 0.5s ease 0s;
        }

        .naviMenuItem i:hover{
            transform: scale(125%);
            transition: all 0.2s ease 0s;
        }

        .dropdown-menu a{
            color: black;
            width: 200px;
        }

        .naviMenuItem{
            list-style-type: none;
        }
        
        .dropdown-menu a:hover{
            font-size: 18px;
        }


              