/* Imported Google Font - Quicksand, link for google fonts site - https://fonts.google.com/specimen/Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Whole page changers */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-color: gray;
}

/* Navigation bar styling */

.naviBar{
    background-color: black;
    height: 57px;
}

.naviBar a {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

   .naviContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
    .naviLogo{
        width: 120px;
        height: 57px;
    }

    .naviListMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35vw;
        padding-right: 25px;
    }

        .naviMenuItem .material-symbols-outlined{
            scale: 130%;
            padding-top: 5px;
        }

        .naviMenuItem a:hover {
            color: blue;
            font-size: 19px;
            transition: all 0.5s ease 0s;
        }

        .naviMenuItem i:hover{
            transform: scale(125%);
            transition: all 0.2s ease 0s;
        }

        .naviDropdown{
            overflow: hidden;
        }

            .naviDropbtn{
                height: 57px;
                font-size: 18px;
                color: #fff;
                border: none;
                outline: none;
                background-color: inherit;
                font-family: inherit;
                padding: 0 0 0 0;
            }

            .naviDropbtn:hover {
                color: blue;
                font-size: 19px;
                transition: all 0.5s ease 0s;
            }

            .dropdown-content{
                /* display: none; */
                position: absolute;
                background-color: black;
                width: 150px;
                box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
                z-index: 1;
            }

                .dropdownItem{
                    float: none;
                    padding: 12px 16px;
                    display: block;
                }

                .dropdownItem:hover{
                    background-color: gray;
                    
                }

                .dropdownItem a:hover{
                    font-size: 18px;
                }

            .dropdown-content a{
                float: none;
            }

            .dropdown:hover .dropdown-content {
                display: block;
              }

              