<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register/" method="post">
    {% csrf_token %}
        <div class="input_field">
            <input type="text" name="name" id="name" autocomplete="off" class="input" placeholder="Full Name - Required" required>
            <i class="material-symbols-outlined">badge</i>
        </div>

        <div class="input_field">
            <input type="text" name="username" id="username" autocomplete="off" class="input" placeholder="Username - Required" required>
            <i class="material-symbols-outlined">person</i>
        </div>

        <div class="input_field">
            <input type="email" name="email" id="email" autocomplete="off" class="input" placeholder="Email - Required" required>
            <i class="material-symbols-outlined">mail</i>
        </div>

        <div class="input_field">
            <input type="tel" name="phoneNo" id="phoneNo" autocomplete="off" class="input" placeholder="Phone Number" pattern="07[0,1,6,7,5,2]{1}[0-9]{7}">
            <i class="material-symbols-outlined">call</i>
        </div>

        <div class="input_field">
            <input type="text" name="country" id="country" autocomplete="off" class="input" placeholder="Country">
            <i class="material-symbols-outlined">public</i>
        </div>
        
        <div class="input_field">
            <input type="password" name="password" id="password" autocomplete="off" class="input" placeholder="Password - Required" minlength="8" required>
            <i class="material-symbols-outlined">key</i>
        </div>

        <div class="input_field">
            <input type="password" name="rePassword" id="rePassword" autocomplete="off" class="input" placeholder="Confirm Password - Required" minlength="8" required>
            <i class="material-symbols-outlined">key</i>
        </div>

        <div class="TnC">
            <input type="checkbox" name="check" id="check" required>
            <label for="check"> I have read and agree with <a href="">terms & conditions</a></label>    <!-- Add terms and conditions here -->
        </div>

        <div class="input_field">
            <input type="submit" class="submit" name="submit" value="Sign up" required>
        </div>
    </form>

    <div class="bottom">
        <div class="signin">
            <label> Already have an account? <a href="./Login.php">Sign in</a></label>
        </div>
    </div>
</body>
</html>