/* Imported Google Font - Quicksand, link for google fonts site - https://fonts.google.com/specimen/Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Whole page changers */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-color: gray;
}

/* Navigation bar styling */

.naviBar{
    background-color: black;
    height: 57px;
}

.naviBar a {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

   .naviContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
    .naviLogo{
        width: 120px;
        height: 57px;
    }

    .naviListMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35vw;
        padding-right: 25px;
    }

        .naviMenuItem .material-symbols-outlined{
            scale: 130%;
            padding-top: 5px;
        }

        .naviMenuItem a:hover {
            color: blue;
            font-size: 19px;
            transition: all 0.5s ease 0s;
        }

        .naviMenuItem i:hover{
            transform: scale(125%);
            transition: all 0.2s ease 0s;
        }

        .naviDropdown{
            overflow: hidden;
        }

            .naviDropbtn{
                height: 57px;
                font-size: 18px;
                color: #fff;
                border: none;
                outline: none;
                background-color: inherit;
                font-family: inherit;
                padding: 0 0 0 0;
            }

            .naviDropbtn:hover {
                color: blue;
                font-size: 19px;
                transition: all 0.5s ease 0s;
            }

            .dropdown-content{
                /* display: none; */
                position: absolute;
                background-color: black;
                width: 150px;
                box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
                z-index: 1;
            }

                .dropdownItem{
                    float: none;
                    padding: 12px 16px;
                    display: block;
                }

                .dropdownItem:hover{
                    background-color: gray;
                    
                }

                .dropdownItem a:hover{
                    font-size: 18px;
                }

            .dropdown-content a{
                float: none;
            }

            .dropdown:hover .dropdown-content {
                display: block;
              }

              

              

              






/* Page styling Part */

.homePageContent{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Resources/UserPage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    .container{
        width: 87vw;
        height: 93vh;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .leftPart{
            height:98%;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .profile{
                width: 85%;
                height: 94%;
                background-color: white;
                border-radius: 30px;
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
                
            }

                .dp{
                    width: 100%;
                    height: 50%;
                    /* background-color: aqua; */
                }

                    .profilePhoto{
                        display: flex;
                        justify-content: center;
                        padding-top: 42%;
                    }

                        .profilePhoto .material-symbols-outlined{
                            scale: 1500%;
                            color: rgb(197, 196, 196);
                        }

                .data{
                    width: 100%;
                    height: 50%;
                    /* background-color:blue; */
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 30px;
                }

                    .singleData{
                        font-size: 20px;
                        display: flex;
                        flex-direction: row;
                    }

                        .icon{
                            margin-right: 10px;
                        }

                        .singleData .material-symbols-outlined{
                            scale: 120%;
                            color: gray;
                        }

                        .logoutBtn{
                            /* padding: 10px; */
                            /* width: 30%; */
                            align-self: center;
                            align-items: center;
                            align-content: center;
                        }

                        #lgoutBtn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 30px;
                        }

                                .logoutBtn a{
                                    padding: 10px 50px 10px 50px;
                                    text-decoration: none;
                                    color: #fff;
                                    border-radius: 30px;
                                    text-align: center;
                                    background-color:rgb(16, 155, 255);
                                    
                                }

                                    .logoutBtn a:hover{
                                        box-shadow: 0 5px 5px 0 rgba(159, 159, 159, 0.5);
                                    }

        .rightPart{
            height: 98%;
            width: 65%;
            display: flex;
            flex-direction: column;
        }

            .topPart{
                height: 20%;
                width: 98%;
                display: flex;
                align-items:flex-end;
                /* justify-content: center; */
/* 
                border-style: solid;
                border-color: red; */
            }

                .summary{
                    width: 97%;
                    height: 85%;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
                    display: flex;
                    align-items: center;
                }

                    .contentSum{
                        padding-left: 30px;
                    }

                        .sumDiscrip {
                            font-size: 12px;
                        }

            .bottomPart{
                height: 80%;
                width: 98%;
                display: flex;
                align-items: center;
                padding-top: 8px;
                /* justify-content: center; */

                /* border-style: solid;
                border-color: red; */
            }

                .history{
                    width: 97%;
                    height: 93%;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0 20px 0;
                }

                    .discrip{
                        height: 13%;
                        width: 95%;
                        padding-left: 15px;
                        padding-top: 10px;
                        /* background-color: blueviolet; */
                    }

                    .listHistory{
                        height: 85%;
                        width: 95%;
                        /* background-color: violet; */
                        border-radius: 20px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        display:block;
                        flex-direction: column;
                        align-items: center;
                        border: 10px 0 10px 0;
                    }

                        .singleHistoryContent{
                            height: 102px;
                            width: 100%;
                            /* background-color: yellowgreen; */
                            border-radius: 20px;   
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                            .historyData{
                                height: 90px;
                                width: 98%;
                                background-color: rgba(159, 159, 159, 0.5);
                                border-radius: 20px;
                            }








                            .footerArea {
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                background-color: #474747;
                                color: #fff;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 0 0 0 0;
                                padding: 30px 2% 30px 2%;
                            }
                            
                                .ftColumn {
                                    align-items: center;
                                    justify-items: center;
                                    width: 20%;
                                }
                            
                                    #c1 a:hover {
                                        transform: scale(115%);
                                        transition: 0.4s;
                                    }
                            
                                #c2 {
                                    width: 30%;
                                }
                            
                                    .ftColumn div {
                                        display: flex;
                                        justify-content: center;
                                    }
                            
                                    .ftColumn header {
                                        display: flex;
                                        justify-content: center;
                                        margin-bottom: 20px;
                                        font-size: 17px;
                                    }
                            
                                    #c2 header {
                                        margin-bottom: -10px;
                                        font-size: 17px;
                                    }
                            
                                        .ftColumn a {
                                            font-size: 13px;
                                            margin-bottom: 10px;
                                            text-decoration: none;
                                            color: #fff;
                                        }
                            
                                    .ftColumn span{
                                        display: flex;
                                        justify-content: center;
                                        font-size: small;
                                        margin-bottom: 10px;
                                    }
                            
                                        #ftInput {
                                            height: 40px;
                                            width: 100%;
                                            margin: 20px 0;
                                            border: none;
                                            outline: none;
                                            border-radius: 35px;
                                            padding: 0 0 0 45px;
                                            /* background: rgba(255, 255, 255, 0.3); */
                                        }
                            
                                            ::-webkit-input-placeholder {
                                                color: black;
                                            }
                            
                                            #ft_fa_mail {
                                                position: relative;
                                                top: 28px;
                                                left: -91%;
                                                color: rgba(103, 101, 101, 0.5);
                                                
                                            }
                            
                                        #ftSubmit {
                                            border: none;
                                            outline: none;
                                            border-radius: 30px;
                                            font-size: 16px;
                                            height: 45px;
                                            width: 40%;
                                            background: rgba(255, 255, 255, .9);
                                            cursor: pointer;
                                            transition: 0.3s;
                                        }
                            
                                            .ftSubmit [type="submit"] {
                                                color: black;
                                            }
                            
                                            #ftSubmit:hover {
                                                box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.3);
                                                transform: scale(110%);
                                                background-color: rgba(193, 255, 70, 0.782);
                                                transition: 0.4s;
                                            }
                            
                                    #c3 {
                                        flex-direction: column;
                                    }
                            
                                    .cIn {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                    }
                            
                                        .cIn div {
                                            margin-bottom: 5px;
                                            font-size: 13px;
                                        }
                            
                                    .icon_links {
                                        margin-top: 12px;
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: row;
                                    }
                            
                                        .addFT{
                                            margin: 0 0 0 0;
                                            padding: 5px 0 5px 0;
                                            width: 40%;
                                            display: flex;
                                        }
                            
                                            .iconIns {
                                                width: 110%;
                                            }
                            
                                                .fa {
                                                    transform: scale(135%);
                                                }
                            
                                            .iconIns a:hover {
                                                transform: scale(150%);
                                                transition: 0.3s;
                                            }
                            
                            
                                            
                                    
                            
                            